.container-fluid {
  height: 4rem;
}

body {
  background: #536976;
  background: -webkit-linear-gradient(to right, #292e49, #536976);
  background: linear-gradient(to right, #292e49, #536976);

  color: white;
}

.form-control {
  height: 5rem;
}

.main-button {
  margin-left: 1rem;
  width: 27rem;
}
